@import "form/input";
@import "form/label";


.form {
	position: relative;

	@include busy('form--is-busy');

	>:first-child {
		margin-top: 0;
	}

	&.form--centered {
		margin: 0 auto;
		max-width: 550px;
		text-align: center;
	}

	&.form--is-success {
		>* {
			display: none;
		}
		.form__success {
			display: block;
		}
	}

	.form__buttons {
		margin-top: 2em;
	}

	.form__or {
		margin: 2em 0;
		text-align: center;

		position: relative;

		&::before, &::after {
			border-top: 1px solid $color-gray-mid-light;
			content: '';
			height: 0;
			width: 40%;

			position: absolute;
			top: 50%;
		}

		&::before {
			left: 0;
		}

		&::after {
			right: 0;
		}
	}

	.form__success {
		background: white;
		display: none;
		text-align: left;

		>:first-child {
			margin-top: 0;
		}
	}
}

