@mixin breakpoint($point) {
	@if $point == large {
		@media (max-width: $page-width) { @content; }
	}
	@else if $point == medium {
		@media (max-width: 767px)  { @content; }
	}
	@else if $point == small {
		@media (max-width: 599px)  { @content; }
	}
	@else if $point == medium-up {
		@media (min-width: 768px)  { @content; }
	}
	@else if $point == small-up {
		@media (min-width: 600px)  { @content; }
	}
	@else {
		@media (max-width: $point)  { @content; }
	}
}

@mixin clearfix {
	&::after {
		clear: both;
		content: '';
		display: table;
	}

}

@mixin busy($busyClass: 'is-busy') {
	&::before {
		background-color: rgba(white, 0.7);
		background-image: url('//res.cloudinary.com/szw/image/upload/f_auto,q_80/structure/ajax-loader.gif');
		background-position: center 40%;
		background-repeat: no-repeat;
		content: '';
		display: none;
		z-index: 5;

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		html.csstransforms.csstransitions & {
			display: block;
			transform: scaleY(0);
			transition: transform $transition-short;
		}
	}

	&.#{$busyClass} {
		&::before {
			display: block;

			html.csstransforms.csstransitions & {
				transform: scaleY(1);
			}
		}
	}
}
