// Sizes
$page-width: 1000px;
$nav-height: 60px;

$splash-height: 730px;
$splash-bottom-height: 120px;

$gutter: 22px;

$input-padding: 8px;

// Colors
$color-primary: #bb0707;
$color-link: #0375de;
$color-gray-dark: #888;
$color-gray-mid: #aaa;
$color-gray-mid-light: #ccc;
$color-gray-light: #ddd;

// Times
$transition-short: 0.2s;
$transition-long: 0.6s;

// Font families
@mixin font-header() {
	font-family: 'Underdog', serif;
	text-transform: uppercase;
}

// Font sizes
$font-size-largest: 3em;
$font-size-larger: 2.25em;
$font-size-large: 1.5em;
$font-size-largish: 1.125em;
$font-size-small: .875em;