/* Global */
:root {
	font-family: Roboto, sans-serif;
}

/* Headings */
h1, h2, h3 {
	@include font-header();
	font-weight: normal;
}


h1 {
	font-size: $font-size-largest;

	@include breakpoint(440px) {
		font-size: $font-size-larger;
	}
}

h2 {
	font-size: $font-size-larger;
	margin-bottom: 0.5em;
}

h3 {
	font-size: $font-size-large;
}

h4 {
	font-size: $font-size-largish;
}

/* Copy */
p, ul, ol, dl {
	line-height: 1.4;
}

a {
	color: $color-link;

	&:hover {
		color: darken($color-link, 15);
	}
}

.u-font-size-largish {
	font-size: $font-size-largish;
}

.u-text-align-center {
	text-align: center;
}