@import "settings";
@import "mixins";
@import "typography";
@import "form";
@import "components";

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	background: black;
}

html, body {
	margin: 0;
	padding: 0;
}

img, iframe, svg {
	max-width: 100%;
}

a img {
	border: none;
}
