input[type=email],
input[type=password],
input[type=number],
input[type=text],
textarea,
select {
	background: $color-gray-light;
	border: none;
	font-family: inherit;
	font-size: inherit;
	width: 100%;

	&:focus {
		background: lighten($color-gray-light, 5);
	}
}

textarea {
	height: 12em;
	padding: #{$input-padding * 0.75} #{$input-padding * 0.75 + 4px};
}

input[type=email],
input[type=password],
input[type=number],
input[type=text],
select {
	font-size: 1.4em;
	padding: $input-padding #{$input-padding + 6px};


	@mixin background ($bg, $line, $padding) {
		background: $bg;
		background: linear-gradient(to right, $bg $padding, transparent $padding, transparent calc(100% - #{$padding}), $bg calc(100% - #{$padding})),
					linear-gradient(to top, $bg $padding, $line $padding, $line #{$padding + 1px}, $bg #{$padding + 1px});
	}

	@include background($color-gray-light, $color-gray-mid, $input-padding);

	&:focus {
		@include background(lighten($color-gray-light, 5), $color-gray-mid, $input-padding);
		outline: none;
	}
}
