.label {
	@include clearfix;

	$text-width: 170px;
	$right-margin: 50px;

	display: block;
	margin: 1em 0;

	.label__text {
		@include font-header;

		display: block;
		float: left;
		font-size: $font-size-large;
		text-align: right;
		padding: 10px 0.8em 0 0;
		width: $text-width;

		&::after {
			content: ':';
		}

		@include breakpoint(small) {
			float: none;
			margin-bottom: 0.2em;
			text-align: left;
			width: auto;
		}
	}

	.label__input {
		display: block;
		float: right;
		margin-right: $right-margin;
		width: calc(100% - #{$text-width + $right-margin});

		@include breakpoint(small) {
			float: none;
			width: 100%;
		}

		&.label__input--text {
			@include font-header;
			font-size: $font-size-large;
			text-align: left;
			padding-top: 10px;
		}
	}
}
