<!doctype html>
<html>
<head>

	<title>{% block title %}{% endblock %} - Sydney Zombie Walk</title>
	<meta name="description" content="For {{ ("now" | date('Y')) - 2010 }} years, thousands of zombies have dragged their rotting limbs across Sydney's streets for the Sydney Zombie Walk. This spectacular public event aims to raise awareness for the Brain Foundation." />
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700|Underdog' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" media="all" href="{{'/css/global.css' | bust_cache }}" />

	<!-- Facebook & Twitter -->
	<meta property="og:image" content="//res.cloudinary.com/szw/image/upload/structure/og.jpg" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@zombiewalksyd" />
	<meta name="twitter:title" content="{{ block('title') }} - Sydney Zombie Walk" />
	<meta name="twitter:description" content="For {{ ("now" | date('Y')) - 2010 }} years, thousands of zombies have dragged their rotting limbs across Sydney's streets for the Sydney Zombie Walk. This spectacular public event aims to raise awareness for the Brain Foundation." />
	<meta name="twitter:image" content="//res.cloudinary.com/szw/image/upload/structure/og.jpg" />
	<link rel="icon" type="image/png" href="//res.cloudinary.com/szw/image/upload/structure/favicon.png">
	<!-- TODO: Twitter -->

	<!-- HTML5 Shiv -->
	<!--[if lte IE 8]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>

	<button class="nav-button">Toggle Navigation</button>
	<nav class="nav">
		{% set nav = [
			{
				routeName: 'home',
				text: 'Home'
			},
			{
				routeName: 'about',
				text: 'About'
			},
			{
				routeName: 'rules',
				text: 'Rules'
			},
			{
				routeName: 'fundraising',
				text: 'Fundraising'
			},
			{
				routeName: 'makeup',
				text: 'Make-Up'
			},
			{
				routeName: 'gallery',
				text: 'Gallery'
			},
			{
				routeName: 'volunteer',
				text: 'Volunteer'
			},
		] %}
		{% for item in nav -%}
			<a href="{{urlFor(item.routeName)}}"{% if item.routeName == currentRouteName %} class="current"{% endif %}>{{item.text}}</a>
		{%- endfor %}
	</nav>

	{% block header %}
		<header class="header">
			<a href="/" class="header__logo">Sydney Zombie Walk</a>
			<h1 class="header__title"><span class="header__title__inner">{% block header_title %}{{ block('title') }}{% endblock %}</span></h1>
		</header>
	{% endblock %}

	<div class="content">
		<!--[if lte IE 8]>
			<div class="alert alert--error">
				<p>You are using an unsupported version of Internet Explorer. Some features of this website will not work properly. Please upgrade your web browser.</p>
			</div>
		<![endif]-->
		<noscript>
			<div class="alert alert--error">
				<p>JavaScript is disabled in your browser. Some features of this website will not work properly unless JavaScript is enabled.</p>
			</div>
		</noscript>
		{% block content %}{% endblock %}
	</div>

	<footer class="footer">
		<nav class="footer__links">
			<a href="{{urlFor('photographers')}}">Photographers</a>
			<a href="{{urlFor('press')}}">Press</a>
			<a href="{{urlFor('privacy')}}">Privacy</a>
			<a href="{{urlFor('contact')}}">Contact</a>
		</nav>
		&copy; Sydney Zombie Walk &amp; <a href="http://scripti.st" target="blank">Scriptist</a> {{ "now"|date("Y") }}
	</footer>


	<!-- JavaScript -->
	<script>
		function loadScript(url) {
			document.write('<script type="text/javascript" src="'+url+'"></scr'+'ipt>');
		}

		if (!("classList" in document.createElement("_"))) {
			loadScript("/bower_components/classlist/classList.min.js");
		}
	</script>
	<script>
		window.szw_settings = {
			develop: {{develop | json_encode}}
		};
	</script>

	<script src="{{'/js/global.js' | bust_cache }}" async></script>
	<script src="{{'/js/farewell-ad.js' | bust_cache }}" async></script>
	{% block scripts %}{% endblock %}


	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-44626954-1', 'sydneyzombiewalk.com');
		ga('send', 'pageview');
	</script>
</body>
</html>
