{% macro img(alt, path, transforms, version) -%}
	{%- import _self as cloudinary -%}
	<img src="{{cloudinary.url(path, transforms, version)}}" alt="{{alt}}">
{%- endmacro %}

{% macro url(path, transforms, version) -%}
	//res.cloudinary.com/szw/image/upload/{{transforms | default('q_70,f_auto')}}/v{{version | default(1)}}/{{path}}
{%- endmacro %}
