{% import "macro/_cloudinary.html.twig" as cloudinary %}
{% extends "/_layout.html.twig" %}
{% block title %}About{% endblock %}
{% block content %}
	<div class="row row--of-2">
		<div class="row__item">
			<p>For {{ ("now" | date('Y')) - 2010 }} years, the Sydney Zombie Walk has been tempting thousands of zombies out of their basements to drag their rotting limbs across Sydney’s streets. Our objective? To infect those fortunate few who have yet to succumb to the latest zombie outbreak.</p>
			{% if postWalk %}
				<p>The last walk was held on {{walks.current.meetTime | date('l F j<\\s\\u\\p>S</\\s\\u\\p> Y \\a\\t g:ia') | raw}}.</p>
			{% else %}
				<p>The next walk will be on {{walks.current.meetTime | date('l F j<\\s\\u\\p>S</\\s\\u\\p> Y \\a\\t g:ia') | raw}}. Zombies must arrive at this time in order to participate in the walk. The walk itself {{walks.current.startTime | date('g:ia')}} sharp.</p>
				<p>Free tickets are required for all participants 16 years and over.</p>
			{% endif %}

			{% if not postWalk %}<a href="{{urlFor('register')}}" class="button">Get tickets</a>{% endif %}
		</div>
		<div class="row__item">
			{% include 'partial/_route-map.html.twig' %}
		</div>
	</div>
	<div class="row row--of-2">
		<div class="row__item row__item--shift-right">
			<p>The Sydney Zombie Walk is an annual event where thousands of people get involved to raise awareness for Australia’s <a href="http://www.brainfoundation.org.au/" target="_blank">Brain Foundation</a>. Zombie Walks have been happening all over the world to raise money for various causes – the earliest known to have been in 2001 in Sacramento, California. Sydney has been producing zombies since 2010, raising over $10,000 in our most recent walk.</p>
			<a href="{{urlFor('makeup')}}" class="button">Make-up Tips</a>
		</div>
		<div class="row__item row__item--shift-left">
			{{cloudinary.img('Zombie with caution tape', 'structure/photo/zombie-with-caution-tape.jpg')}}
		</div>
	</div>
	<div class="row row--of-2">
		<div class="row__item">
			<p>The Brain Foundation funds research Australia wide into neurological disorders, brain disease, and brain injuries. This research aims to advance diagnosis, treatment, and patient outcomes. Relying on the generosity of individuals, corporate donors, and bequests, 100% of your donations go to the Brain Foundation research program. Your support will make a difference – now and for generations to come.</p>
			<p>There is no cure without research.</p>
			<a href="{{urlFor('volunteer')}}" class="button">Become a Zombie Wrangler</a>
			<a href="http://brainfoundation.org.au/" target="_blank" class="button button--secondary">About the Brain Foundation</a>
		</div>
		<div class="row__item">
			{{cloudinary.img('The Brain Foundation', 'structure/logo/brain-foundation.png')}}
		</div>
	</div>
{% endblock %}
