{% import "macro/_cloudinary.html.twig" as cloudinary %}
{% extends "/_layout.html.twig" %}
{% block title %}Contact{% endblock %}
{% block content %}
	<div class="row row--of-2">
		<div class="row__item">
			<p>Please contact Michael Berman for all enquiries.</p>
			<p><a href="mailto:michael@sydneyzombiewalk.com">michael@sydneyzombiewalk.com</a></p>
		</div>
		<div class="row__item">
			{{cloudinary.img('Michael Berman', 'structure/photo/michael-on-stilts.jpg', 'c_crop,g_custom,h_0.68,w_1.0,y_0.27,q_60,f_auto')}}
		</div>
	</div>
{% endblock %}