{% import "macro/_cloudinary.html.twig" as cloudinary %}
{% extends "/_layout.html.twig" %}
{% block title %}Gallery{% endblock %}
{% block scripts %}
	{% if images %}
		<link rel="stylesheet" href="/bower_components/blueimp-gallery/css/blueimp-gallery.min.css">
		<script src="/bower_components/blueimp-gallery/js/blueimp-gallery.min.js"></script>
		<script>
			blueimp.Gallery([
					{% for image in images %}
						{
							href: "{{cloudinary.url(image.public_id ~ '.jpg', 'w_956,h_637,c_fit,q_70,f_auto')}}",
							thumbnail: "{{cloudinary.url(image.public_id ~ '.jpg', 't_media_lib_thumb,q_70,f_auto')}}"
						}{% if not loop.last %},{% endif %}
					{% endfor %}
				], {
					container: '#blueimp-gallery-carousel',
					carousel: true,
					startSlideshow: false
				}
			);
		</script>
	{% endif %}
{% endblock %}
{% block content %}

	{% if not images %}
		<h2>An Error Occurred</h2>
		<p>The server was unable to fetch the image directory.</p>
		<p>Please try again later, or <a href="{{urlFor('contact')}}">contact us</a>.</p>
		<p><a href="/" class="button">Return home</a></p>
	{% else %}

		<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls" style="padding-bottom: 66.67%;">
			<div class="slides"></div>{#
			<h3 class="title"></h3>#}
			<a class="prev">‹</a>
			<a class="next">›</a>{#
			<a class="play-pause"></a>
			<ol class="indicator"></ol>#}
		</div>

	{% endif %}
{% endblock %}
