{% extends "/_layout.html.twig" %}
{% block title %}Make-up Booking{% endblock %}
{% block content %}
	<div class="makeup-booking">
		<ol class="makeup-booking__progress">
			<li class="makeup-booking__progress__item makeup-booking__progress__item--complete">Select Slot</li>
			<li class="makeup-booking__progress__item makeup-booking__progress__item--complete">Enter Details</li>
			<li class="makeup-booking__progress__item makeup-booking__progress__item--current">Pay with PayPal</li>
		</ol>
		<h2>Booking Successful</h2>
		<p>You should receive an email within the next few minutes confirming the details of your booking.</p>

		<p>If you do not receive it, please <a href="{{urlFor('contact')}}">contact us</a>.</p>

		<a href="{{urlFor('home')}}" class="button">Return Home</a>
	</div>
{% endblock %}
