{% import "macro/_cloudinary.html.twig" as cloudinary %}
{% extends "/_layout.html.twig" %}
{% block title %}Make-Up{% endblock %}
{% block content %}
	<div class="row row--of-2">
		<div class="row__item">
			<p>Need some help doing your make-up on the day? Here are a few quick tips:</p>
			<ul>
				<li>Tear up some old clothes</li>
				<li>Mess up your hair</li>
				<li>Mix a few drops of red food dye into a bottle of chocolate sauce – it makes surprisingly fantastic blood</li>
				<li>For added grunge, smudge small amounts of dark face paint over your face and body</li>
			</ul>
		</div>
		<div class="row__item">
			{{cloudinary.img('Zombie make-up', 'structure/photo/kat.jpg', 'c_crop,y_0.15,h_0.5,w_1.0,q_60,f_auto')}}
		</div>
	</div>
	<div class="row row--of-2">
		<div class="row__item row__item--shift-right">
			<p>A few more bits of advice for a good costume:</p>
			<ul>
				<li>Bring your fake blood in a bottle and apply it in the park – people won’t take kindly to being covered in your blood</li>
				<li>Don’t be afraid to bring props (but make sure you read our <a href="/rules">rules</a>)</li>
			</ul>
			{% if makeupEnabled %}
				<p>If you’d rather have your make-up done professionally, there will be several make-up artists available on the day, though you’ll need to book in advance as they can get very busy.</p>
				<a href="{{urlFor('makeup-booking')}}" class="button">Book Make-Up</a>
				<a href="{{urlFor('register')}}" class="button button--secondary">Register{% if postWalk %} for next walk{% endif %}</a>
			{% else %}
				<a href="{{urlFor('register')}}" class="button">Get tickets{% if postWalk %} for next walk{% endif %}</a>
			{% endif %}
		</div>
		<div class="row__item row__item--shift-left">
			{{cloudinary.img('Zombie chef make-up', 'structure/photo/chefs.jpg')}}
		</div>
	</div>
{% endblock %}
