{% extends "/_layout.html.twig" %}
{% block title %}Make-up Booking{% endblock %}
{% block scripts %}
	<script src="/js/makeup.js"></script>
{% endblock %}
{% block content %}
	{% if makeupEnabled %}
		<div class="makeup-booking makeup-booking--busy" data-date="{{walks.current.meetTime | date('Y-m-d')}}" :class="{'makeup-booking--busy': busy}">
			{% raw %}
				<ol class="makeup-booking__progress">
					<li class="makeup-booking__progress__item" :class="{'makeup-booking__progress__item--current': !selectedArtist, 'makeup-booking__progress__item--complete': selectedArtist}">Select Slot</li>
					<li class="makeup-booking__progress__item" :class="{'makeup-booking__progress__item--current': selectedArtist && !bookingId, 'makeup-booking__progress__item--complete': bookingId}">Enter Details</li>
					<li class="makeup-booking__progress__item" :class="{'makeup-booking__progress__item--current': selectedArtist && bookingId}">Pay with PayPal</li>
				</ol>
				<div class="makeup-booking__step makeup-booking__step--1" v-if="!selectedArtist" v-cloak>

					<h2>Select a slot in the table below</h2>

					<div class="makeup-booking__table-wrap">
						<table class="makeup-booking__table">
							<thead>
								<tr>
									<th>Artist</th>
									<th v-for="artist in artists" class="makeup-booking__table__artist">{{artist.name}}</th>
								</tr>
								<tr>
									<th>Price</th>
									<th v-for="artist in artists">{{artist.price | currency}}</th>
								</tr>
							</thead>
							<tbody>
								<tr class="makeup-booking__table__padding-row">
									<th></th>
									<td v-for="artist in artists"></td>
								</tr>
								<tr v-for="hour in hours">
									<th >
										{{hour.getHours() > 12 ? hour.getHours() - 12 : hour.getHours()}}
										<small>
											{{hour.getHours() > 11 ? 'pm' : 'am'}}
										</small>
									</th>
									<td v-for="artist in artists">
										<button class="button makeup-booking__table__button" @click="selectArtist(artist, hour)" :disabled="!artist.getSlots(hour).length">
											{{artist.getSlots(hour).length}} slots
										</button>
									</td>
								</tr>
								<tr>
									<th v-if="hours.length">
										{{hours[hours.length - 1].getHours() + 1 - 12}}
										<small>pm</small>
									</th>
								</tr>
							</tbody>
						</table>
					</div>

					<p>If you are a makeup artist and would like to list your services here, contact Michael Berman - <a href="mailto:michael@sydneyzombiewalk.com">michael@sydneyzombiewalk.com</a>.</p>
				</div>

				<div class="makeup-booking__step makeup-booking__step--2" v-if="selectedArtist && !bookingId" v-cloak>
					<h2>Fill in your details</h2>
					<form class="register form form--centered" @submit.prevent="submitDetails">
						<label class="label">
							<span class="label__text">Artist</span>
							<span class="label__input label__input--text">
								{{selectedArtist.name}}
							</span>
						</label>
						<label class="label">
							<span class="label__text">Price</span>
							<span class="label__input label__input--text">
								{{selectedArtist.price | currency}}
							</span>
						</label>
						<label class="label">
							<span class="label__text">Time</span>
							<span class="label__input">
								<select v-model="selectedSlot" required>
									<option value="">Select a time</option>
									<option :value="slot" v-for="slot in selectedArtist.getSlots(selectedHour)">{{slot.timeStr}}</option>
								</select>
							</span>
						</label>
						<label class="label">
							<span class="label__text">Name</span>
							<span class="label__input">
								<input type="text" v-model="customerName" required>
							</span>
						</label>
						<label class="label">
							<span class="label__text">Email</span>
							<span class="label__input">
								<input type="email" v-model="customerEmail" required>
							</span>
						</label>
						<div class="form__buttons">
							<button type="button" class="button button--secondary" @click="selectedHour = selectedArtist = null">Back</button>
							<button type="submit" class="button">Pay with PayPal</button>
						</div>
					</form>
				</div>

				<div class="makeup-booking__step makeup-booking__step--3" v-if="bookingId" v-cloak>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="paypal-form">
						<input type="hidden" name="item_number" value="{{bookingId}}">
						<input type="hidden" name="cmd" value="_xclick">
						<input type="hidden" name="no_note" value="1">
						<input type="hidden" name="business" value="admin@sydneyzombiewalk.com">
						<input type="hidden" name="currency_code" value="AUD">
						<input type="hidden" name="notify_url" value="https:{{api.baseURL}}/makeup/paypal">
						<input type="hidden" name="return" value="{{href}}/success">
						<input type="hidden" name="amount" value="{{selectedArtist.price}}">
						<input type="hidden" name="item_name" value="{{selectedSlot.timeStr}} make-up booking on SydneyZombieWalk.com">

						<p>If you are not automatically redirected to PayPal within 5 seconds, please click this button:</p>
						<button type="submit">Submit</button>
					</form>
				</div>
			{% endraw %}
		</div>
	{% else %}
		<h2>Booking not open</h2>
		<p>Make-up bookings are not yet open. Check back later or <a href="{{urlFor('contact')}}">contact us</a> for more information.</p>
		<a href="/" class="button">Return home</a>
	{% endif %}
{% endblock %}
