{% extends "/_layout.html.twig" %}
{% block title %}Photographers{% endblock %}
{% block content %}
	<p class="u-font-size-largish">All photograhers are required to register before the walk (using the same form as zombies), and must abide by some special rules.</p>
	<dl class="rules">
		<dt>Ask people first</dt>
		<dd>Don’t take photos of individuals or small groups without asking their permission first.</dd>

		<dt>Stick to the footpath</dt>
		<dd>Uncostumed photographers will not be allowed to join the walk on the road – they are required to stay on the footpath.</dd>

		<dt>Follow our directions</dt>
		<dd>If any of our Zombie Wranglers ask you to do anything, please do it. We’re working hard to ensure everybody’s safety.</dd>
	</dl>
	<p>If you have any questions, please don’t hesitate to contact us and ask.</p>

	<a href="{{urlFor('register')}}" class="button">Get tickets{% if postWalk %} for next walk{% endif %}</a>
	<a href="{{urlFor('contact')}}" class="button button--secondary">Contact</a>
{% endblock %}
