{% import "macro/_cloudinary.html.twig" as cloudinary %}
{% extends "/_layout.html.twig" %}
{% block title %}Press{% endblock %}
{% block content %}
	<div class="row row--of-2">
		<div class="row__item">
			<p>Another blood-themed event is rocking Sydney. This time the zombies are even more grotesque! On {{walks.current.meetTime | date('l F j<\\s\\u\\p>S</\\s\\u\\p> Y \\a\\t g:ia') | raw}} all tombs and basements will be empty. The skulking zombies will hit the streets of Sydney from Belmore Park.</p>
			<p>The Sydney Zombie Walk is an annual event held in Sydney, Australia to raise both awareness and money for Australia’s Brain Foundation. To participate, one has to register in advance and this entitles the entrant to some exciting zombie-related giveaways.</p>
		</div>
		<div class="row__item">
			{{cloudinary.img('Zombie chefs', 'structure/photo/chefs.jpg')}}
		</div>
	</div>
	<div class="row row--of-2">
		<div class="row__item row__item--shift-right">
			<p>Australia needs fresh minds and clean brains and there is no better way for you to contribute than to join this year’s zombie walk to support Australia’s Brain Foundation.</p>
			<p>Among the top fundraisers last year was Taylor Davis. She says, “At first when I was called by a friend to join the walk, I thought it was some kind of playful event for kids and teens. I rolled some guts up my sleeves and made up my mind to register. Now I think I won’t miss it again as long as I am in Australia. One thing, it is fun. You get to break off your true self and take new identity. You also express your artistic skills, which involves makeup and performance.”</p>
			<p>Dylan Bushell was another enthusiastic participant. Bushell said, “I was both scary and aggressive; I came from the hideous tombs to make Australian heads think faster. Anyway, let’s all rise up and stump Sydney streets and get all cowards cowering in dark alleys!”</p>
		</div>
		<div class="row__item row__item--shift-left">
			{{cloudinary.img('Zombie dog', 'structure/photo/dog.jpg', 'c_crop,g_north,h_0.7,w_1.0,q_60,f_auto')}}
		</div>
	</div>
	<div class="row row--of-2">
		<div class="row__item">
			<p>Once registered, start preparing the scariest zombie makeup ever. This year you should make a few people collapse at your sight! There will, of course, be makeup artists at Belmore Park, but you’ll need to reserve your spot online as they get very busy.</p>
			<p>If you need some blood, consider a bottle of chocolate sauce and red food dye; a blend of these makes the best blood ever. But don’t smudge yourself at home, as travelling to the park could be tricky.</p>
			<p>Don’t miss out!</p>
		</div>
		<div class="row__item">
			{{cloudinary.img('Zombie bite', 'structure/photo/bite.jpg', 'c_crop,g_north,h_0.7,w_1.0,q_60,f_auto')}}
		</div>
	</div>
	<div class="row row--of-2">
		<div class="row__item row__item--shift-right">
			<h2>Photos</h2>
			<p>Photos from past events are available to download:</p>
			<a href="/file/Zombie-Walk-Photos.zip" class="button button--secondary">Download Photos</a>

			<h2>Contact</h2>
			<p>
				Michael Berman <br />
				<a href="mailto:michael@sydneyzombiewalk.com">michael@sydneyzombiewalk.com</a>
			</p>
		</div>
		<div class="row__item row__item--shift-left">
			{{cloudinary.img('Michael Berman', 'structure/photo/michael-on-stilts.jpg', 'c_crop,g_custom,h_0.68,w_1.0,y_0.27,q_60,f_auto')}}
		</div>
	</div>
{% endblock %}
