{% extends "/_layout.html.twig" %}
{% block title %}Privacy{% endblock %}
{% block content %}
	<h2>Sydney Zombie Walk Privacy Policy</h2>
	<p>This privacy policy has been compiled to better serve those who are concerned with how their ‘Personally identifiable information’ (PII) is being used online. PII is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>

	<h3>What personal information do we collect?</h3>
	<p>When registering or donating on our site, as appropriate, you may be asked to enter your name, email address or other details to help you with your experience. These details can also be auto-filled by logging in with your Facebook account.</p>

	<h3>When do we collect information?</h3>
	<p>We collect information from you when you register for the Zombie Walk, register for a fundraising page, or make a donation.</p>

	<h3>How do we use your information?</h3>
	<p>We may use the information we collect from you in the following ways:</p>
	<ul>
    	<li>To send periodic emails about the Sydney Zombie Walk (when registering for the Zombie Walk).</li>
    	<li>To generate fundraising pages for the user (when registering for a fundraising page).</li>
    	<li>To process your transactions (when donating).</li>
	</ul>

	<h3>How do we protect visitor information?</h3>
	<p>We implement a variety of security measures when a user places an order to maintain the safety of your personal information.</p>
	<p>All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>

	<h3>Do we use 'cookies'?</h3>
	<p>We use cookies for tracking purposes with Google Analytics. We do not collect personally identifiable information with these cookies.</p>


	<h3>Third Party Disclosure</h3>
	<p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.</p>

	<h3>Third party links</h3>
	<p>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>

	<h3>Contacting Us</h3>
	<p>If there are any questions regarding this privacy policy you may contact us using the information below.</p>

	<a href="{{urlFor('contact')}}" class="button">Contact Us</a>

	<p>Last Edited on 2015-10-25</p>
{% endblock %}