{% extends "/_layout.html.twig" %}
{% block title %}Tickets{% endblock %}
{% block content %}
	{% if postWalk %}
		<p class="u-font-size-largish">
			Tickets for the {{(walks.current.year + 1)}} Sydney Zombie Walk are not yet open.
		</p>
		<p>
			<a href="/" class="button">Return home</a>
		</p>
	{% else %}
		<p class="u-font-size-largish">A free ticket is required for all participants 16 years and over. Participants under 16 must be accompanied by a registered adult.</p>
		<p>Once your registration is complete, you will receive an email containing your Sydney Zombie Walk Ticket – please present it when you arrive in Belmore Park (next to Central Station) either printed or on your phone’s screen in order to participate in the walk.</p>
		<p>&nbsp;</p>
		<form class="register form form--centered">
			<button type="button" class="button button--facebook">Register with Facebook</button>
			<div class="form__or">OR</div>
			<input type="hidden" name="year" value="{{ postWalk ? walks.current.year + 1 : walks.current.year}}">
			<label class="label">
				<span class="label__text">Name</span>
				<span class="label__input">
					<input type="text" name="name" required>
				</span>
			</label>
			<label class="label">
				<span class="label__text">Email</span>
				<span class="label__input">
					<input type="email" name="email" required>
				</span>
			</label>
			<div class="form__buttons">
				<input type="submit" value="Register" class="button">
			</div>
			<div class="form__success"></div>
		{% endif %}
	</form>


	<script id="template-register-success" type="text/x-handlebars-template">{% verbatim %}

		{{#if alreadyRegistered}}
		<h2>You are already registered</h2>
		<p>This email address is already registered for the Sydney Zombie Walk.</p>
		{{else}}
		<h2>Thanks for joining us</h2>
		{{/if}}

		{{#if confirmationRequired}}
		<p>A confirmation email has been sent to you. You will need to click “confirm” in this email to receive your ticket.</p>
		{{/if}}
		{% endverbatim %}{% if otd %}
			<p>Your ticket has been generated. Just present it when you arrive in Belmore Park to participate in the walk.</p>
			<a href="/ticket/{% verbatim %}{{ticketKey}}{% endverbatim %}" class="button">View Your Ticket</a>
		{% else %}
			<p>Your ticket to the Sydney Zombie Walk will be emailed to you – please show it to one of our zombie wranglers (either printed or on your phone’s screen) to participate in the walk.</p>
			{% verbatim %}
				{{#unless confirmationRequired}}
					<p>You can also <a href="/ticket/{{ticketKey}}" target="_blank">view and print your ticket online</a>.</p>
				{{/unless}}
			{% endverbatim %}
			<p>Every year we raise money for the Brain Foundation, and we’d love it if you helped out – just create a fundraising page and share it with your friends and family.</p>
			<p>You can also help by volunteering to join our Zombie Wranglers who keep the walk running smoothly.</p>
			<a href="/fundraising" class="button">Create a fundraising page</a>
			<a href="/volunteer" class="button button--secondary">Volunteer to help</a>
		{% endif %}

	</script>
{% endblock %}
