{% extends "/_layout.html.twig" %}
{% block title %}Rules{% endblock %}
{% block content %}
	<p class="u-font-size-largish">In order to participate in the Sydney Zombie Walk, we ask that you follow a few rules to help us all get along.</p>
	<dl class="rules">
		<dt>Don’t be an ass</dt>
		<dd>Treat all participants, organisers, and onlookers with friendliness and respect.</dd>

		<dt>Follow our directions</dt>
		<dd>If any of our Zombie Wranglers ask you to do anything, please do it. We’re working hard to ensure everybody’s safety.</dd>

		<dt>No touching</dt>
		<dd>Please avoid leaving fake blood on vehicles, storefronts, street furniture, and tourists. Make sure to give everyone (zombies and spectators) plenty of space.</dd>

		<dt>No guns</dt>
		<dd>Do not bring guns of any kind. NERF gun? No. Water pistol? Nope. Replica rifle? HELL NO!</dd>

		<dt>No realistic weapons</dt>
		<dd>If you’ve made a prop weapon that looks like the real deal, we may ask you to put it away or leave the walk. We can’t have anybody worrying for their safety.</dd>
	</dl>

	<a href="{{urlFor('register')}}" class="button">Get tickets{% if postWalk %} for next walk{% endif %}</a>
	<a href="{{urlFor('about')}}" class="button button--secondary">About</a>
{% endblock %}
