{% extends "/_layout.html.twig" %}
{% block title %}Your Ticket{% endblock %}
{% block content %}
	<div class="ticket" data-key="{{key}}"></div>

	<script id="template-ticket" type="text/x-handlebars-template">{% verbatim %}
		{{#if error}}
			<div class="ticket__error">
				<p>This ticket could not be found.</p>
				<p class="ticket__error__message">{{msg}}</p>
			</div>
		{{else}}
			<div class="ticket__header">
				<small>Sydney Zombie Walk {{year}}</small>
				<h2>Admit One</h2>
				<button class="ticket__header__print" onclick="window.print()">Print</button>
			</div>

			<div class="ticket__body">
				<p>Present this ticket when you arrive in Belmore Park (next to Central Station) to participate in the Sydney Zombie Walk. (Showing it to us on your phone or tablet’s screen is fine.)</p>

				<ul class="ticket__body__details">
					{{#if time}}
						<li>{{dateTimeFormat time}}</li>
					{{/if}}
					<li>{{name}}</li>
					<li>{{key}}</li>
				</ul>

				<div class="ticket__body__barcode">
					{{{barcodeSvg}}}
				</div>

				<div class="ticket__body__fineprint">
					<p>Please note that only one email address can be used per person. Registering again with the same email address will only update your information and re-send this ticket, it will not generate a new ticket.</p>
				</div>
			</div>
		{{/if}}

	{% endverbatim %}</script>

{% endblock %}
