{% import "macro/_cloudinary.html.twig" as cloudinary %}
{% extends "/_layout.html.twig" %}
{% block title %}Volunteer{% endblock %}
{% block content %}
	<div class="row row--of-2">
		<div class="row__item">
			<h2>Become a Zombie Wrangler</h2>
			<p>The Sydney Zombie Walk owes a lot to its dedicated team of Zombie Wranglers who help us out on the day with everything from collecting donations to keeping our zombies safe.</p>
			<p>We’re always in need of more people to help out – if you'd like to volunteer, there's just one quick form we need you to fill out by clicking the button below.</p>
			<a href="https://docs.google.com/forms/d/1-qCX0aleJzUSJKDIS6Xz3EPJMhKJ1YpLApAy1AwTArk/viewform" class="button" target="_blank">Volunteer</a>
		</div>
		<div class="row__item">
			{{cloudinary.img('Zombie wranglers', 'structure/photo/wranglers.jpg')}}
		</div>
	</div>
	<div class="row row--of-2">
		<div class="row__item row__item--shift-right">
			<h2>Help us Raise Money</h2>
			<p>If you’d like to help us out but are unable to volunteer on the day, then we’d love for you to help us raise some money!</p>
			<p>All the money raised is donated straight to the <a href="http://www.brainfoundation.org.au/" target="_blank">Brain Foundation</a>.</p>
			<a href="{{urlFor('fundraising')}}" class="button">Raise Money</a>
		</div>
		<div class="row__item row__item--shift-left">
			{{cloudinary.img('Zombie clown', 'structure/photo/zombie-clown.jpg')}}
		</div>
	</div>
{% endblock %}
