{% import "macro/_cloudinary.html.twig" as cloudinary %}
{% extends "/_layout.html.twig" %}
{% block title %}Wranglers{% endblock %}
{% block content %}
	<div class="row row--of-2">
		<div class="row__item">
			<h2>So you’re a Zombie Wrangler</h2>
			<p>Thanks very much for offering to help out - we wouldn’t be able to run the walk without you!</p>
			<p>Here’s a bit more detail on what you’ll be doing as a Zombie Wrangler:</p>
			<h3>General</h3>
			<ul>
				<li>Follow all directions from your Team Leader, Michael Berman, and the NSW Police</li>
				<li>Ensure that EVERYONE (zombies, photographers, and pedestrians) is behaving in a safe manner</li>
				<li>If somebody repeatedly defies instructions from wranglers, report them to police</li>
				<li>Ensure that nobody has brought weapons, real or fake. If somebody has brought a weapon and refuses to discard it, report them to police.</li>
			</ul>
		</div>
		<div class="row__item">
			{{cloudinary.img('Zombie wranglers', 'structure/photo/wranglers.jpg')}}
		</div>
	</div>
	<div class="row row--of-2">
		<div class="row__item row__item--shift-right">
			<h3>Before the walk</h3>
			<ul>
				<li>Scan all participants’ tickets as they enter the park</li>
				<li>Inform any participant without a ticket that they can get one instantly by going to szw.com.au on their smartphone</li>
			</ul>
			<h3>During the Walk</h3>
			<ul>
				<li>Keep the zombies on the correct side of the road</li>
				<li>Make sure the zombies at the back of the horde move faster, we MUST remain in one tight group</li>
				<li>Keep uncostumed photographers (except for our official photographers, who will be wearing high visibility vests) on the footpath, not on the roads.</li>
			</ul>
		</div>
		<div class="row__item row__item--shift-left">
			{% include 'partial/_route-map.html.twig' %}
		</div>
	</div>
	<div class="row row--of-2">
		<div class="row__item">
			<h3>Timetable</h3>
			<table class="timetable">
				<caption>{{walks.current.meetTime | date('l F j<\\s\\u\\p>S</\\s\\u\\p> Y \\a\\t g:ia') | raw}}</caption>
				<tbody>
					<tr>
						<th>12:30 pm</th>
						<td>Zombies start appearing</td>
					</tr>
					<tr>
						<th>1:00 pm</th>
						<td>Wranglers meet with Michael</td>
					</tr>
					<tr>
						<th>3:30 pm</th>
						<td>Michael and Dean rendezvous with the police</td>
					</tr>
					<tr>
						<th>4:00 pm</th>
						<td>Zombies step on to the road</td>
					</tr>
					<tr>
						<th>4:55 pm</th>
						<td>The walk returns to the park</td>
					</tr>
					<tr>
						<th>5:30 pm</th>
						<td>Wranglers start cleaning the park</td>
					</tr>
					<tr>
						<th>6:30 pm</th>
						<td>Wranglers may leave</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row__item">
			{{cloudinary.img('Zombie chefs', 'structure/photo/chefs.jpg')}}
		</div>
	</div>
{% endblock %}
