{% extends "/_layout.html.twig" %}
{% block title %}Fundraising{% endblock %}
{% block content %}
	{% if postWalk %}
		<p class="u-font-size-largish">Thanks to all our amazing fundraisers who helped us raise money for the <a href="http://www.brainfoundation.org.au/" target="_blank">Brain Foundation</a> this year. {{walks.current.year}} fundraising profiles are still open, so keep those donations coming!</p>
		<p>Fundraising for the {{walks.current.year + 1}} walk will open within the next few weeks.</p>
	{% endif %}

	<div class="fundraising-login"></div>

	<h2>Top Fundraisers</h2>
	<div class="fundraising-top"></div>

	<h2>Why Raise Money?</h2>
	<p>We’re recruiting our most dedicated zombies to raise money for the <a href="http://www.brainfoundation.org.au/" target="_blank">Brain Foundation</a>.</p>
	<p>The Zombie Walk has been running for many years, and now we’re asking YOU to help raise money by rallying your friends and family to sponsor you for the Sydney Zombie Walk.</p>
	<p>The <a href="http://www.brainfoundation.org.au/" target="_blank">Brain Foundation</a> is a charity dedicated to funding world-class research into finding cures for a huge range of brain disorders. They're helping to keep Australian brains healthy. And juicy.</p>
	<p>So grab your family and friends to join in for the biggest zombie event in Sydney!</p>


	<script id="template-login" type="text/x-handlebars-template">{% verbatim %}
		{{#if session.loggedIn}}
			<h2>You are logged in</h2>
			<div class="row row--of-2" style="padding-bottom: 2em;">
				<div class="row__item u-text-align-center">
					<a href="/fundraising/profile/{{session.profileId}}" class="button">Your Profile</a>
				</div>
				<div class="row__item u-text-align-center">
					<button type="button" class="button button--secondary" data-logout>Log Out</button>
				</div>
			</div>
		{{else}}
			<div class="row row--of-2 row--with-border">
				<div class="row__item u-text-align-center" style="padding:2em 0;">
					<h2>Log In</h2>
					<button type="button" class="button button--facebook" data-login>Log in with Facebook</button>
					<br>
					<button type="button" class="button button--link" data-nofacebook>Don’t have a Facebook?</button>
					<form class="form fundraising-login__nofacebook">
						<label class="label">
							<span class="label__text">Email</span>
							<span class="label__input">
								<input type="email" name="email" required>
							</span>
						</label>
						<label class="label">
							<span class="label__text">Password</span>
							<span class="label__input">
								<input type="password" name="password" required>
							</span>
						</label>
						<div class="form__buttons">
							<button type="submit" class="button">Log in</button>
						</div>
					</form>
				</div>
				<div class="row__item u-text-align-center" style="padding:2em 0;">
					<h2>Register</h2>
					<button type="button" class="button button--facebook" data-register>Register with Facebook</button>
				</div>
			</div>
		{{/if}}

	{% endverbatim %}</script>
{% endblock %}
