{% extends "/_layout.html.twig" %}
{% block title %}{{profile.name}}’s Fundraising Page{% endblock %}
{% block header_title %}Fundraising{% endblock %}
{% block content %}
	{% if not profile %}
		<h2>An Error Occurred</h2>
		<p>The server was unable to fetch this fundraising profile.</p>
		<p>Please try again later, or <a href="{{urlFor('contact')}}">contact us</a>.</p>
		<a href="/" class="button">Return home</a>
	{% else %}
		<div class="profile" data-profile-id="{{profile.id}}">
			<h2>Fundraising profile of {{profile.name}}</h2>
			<p>{{profile.description}}</p>
		</div>
	{% endif %}


	<script id="template-profile" type="text/x-handlebars-template">{% verbatim %}

		{{#if editable}}
			<div class="profile__cta-top">
				<button class="button button--secondary" data-edit>Edit</button>
				<button class="button button--secondary" data-logout>Log out</button>
			</div>
		{{else}}
			{{#if profile.target}}
				<div class="profile__cta-top">
					<button class="button" data-donate>Support {{profile.name}}</button>
				</div>
			{{/if}}
		{{/if}}


		{{#if profile.photo}}
			<div class="profile__photo">
				<img src="{{profile.photo}}" alt="{{profile.name}}" class="profile__photo">
			</div>
		{{/if}}

		<h2 class="profile__name">{{profile.name}}</h2>
		<div class="profile__info">
			{{#if profile.target}}
				<p class="profile__tagline">I’m doing the Sydney Zombie Walk to raise money for people with brain disease &amp; brain injuries.</p>
			{{else}}
				<p class="profile__tagline">I did the Sydney Zombie Walk to raise money for people with brain disease &amp; brain injuries.</p>
			{{/if}}
			<p class="profile__blurb">{{profile.description}}</p>
		</div>

		{{#if profile.target}}
			<div class="profile__target">
				<div class="profile__thermometer">
					<div class="profile__thermometer__bar" style="height: {{profile.barHeight}}%;"></div>
					<div class="profile__thermometer__graphic"></div>
				</div>
				<p>
					<span class="profile__target__text">
						{{profile.name}} has raised
					</span>
					<span class="profile__target__number">
						{{currencyFormat profile.total}}
					</span>
					<span class="profile__target__text">
						of their target
					</span>
					<span class="profile__target__number">
						{{currencyFormat profile.target}}
					</span>
					<hr>
					<span class="profile__target__text">
						that’s
					</span>
					<span class="profile__target__number">
						{{profile.targetPercent}}%
					</span>
				</p>
			</div>
		{{/if}}

		<div class="profile__donations">
			{{#if profile.target}}
				<h3>My supporters</h3>
				{{#each profile.donations}}
					<div class="profile__donation">
						<time datetime="{{timestamp}}" class="profile__donation__time">{{dateFormat timestamp}}</time>
						<span class="profile__donation__name">{{#if donor_name}}{{donor_name}}{{else}}An anonymous user{{/if}}</span>
						donated
						<span class="profile__donation__amount">{{currencyFormat amount}}</span>
						{{#if donor_comment}}
							<p class='profile__donation__comment'>{{donor_comment}}</p>
						{{/if}}
					</div>
				{{else}}
					<p>{{profile.name}} has not yet received any donations. Help them out by being the first!</p>
				{{/each}}
			{{else}}
				{{#if profile.name}}
					<p>{{profile.name}} is not raising money this year.</p>
				{{/if}}
			{{/if}}

			{{#if profile.target}}
				<div class="profile__cta-bottom">
					<button class="button" data-donate>Support {{profile.name}}</button>
				</div>
			{{/if}}
		</div>

	{% endverbatim %}</script>

	<script id="template-back" type="text/x-handlebars-template">{% verbatim %}
		<h2>Welcome Back</h2>

		<p class="u-font-size-largish">
			Thanks for raising money for past Sydney Zombie Walks!
		</p>

		<p class="u-font-size-largish">
			Fundraising for the {% endverbatim %}{{walks.current.meetTime | date('Y')}}{% verbatim %} Sydney Zombie Walk is now open. Would you like to join?
		</p>

		<button type="button" data-join class="button">Join</button>
		<button type="button" data-logout class="button button--secondary">Log out</button>

	{% endverbatim %}</script>

	<script id="template-edit" type="text/x-handlebars-template">{% verbatim %}
		<h2>Edit Profile</h2>

		{{#if welcome}}
			<p class="alert alert--notice">Welcome to your fundraising page. Enter your details below to get started.</p>
		{{/if}}

		<form class="form">
			<label class="label">
				<span class="label__text">Name</span>
				<span class="label__input">
					<input type="text" name="name" value="{{profile.name}}" minlength="4" required>
				</span>
			</label>
			<label class="label">
				<span class="label__text">Target $</span>
				<span class="label__input">
					<input type="number" name="target" value="{{profile.target}}" min="10" step="1" required>
				</span>
			</label>
			<label class="label">
				<span class="label__text">Message</span>
				<span class="label__input">
					<textarea name="description" required>{{profile.description}}</textarea>
				</span>
			</label>
			<div class="form__buttons">
				<button type="submit" class="button">Save</button>
				<button type="button" class="button button--secondary">Cancel</button>
			</div>
		</form>

	{% endverbatim %}</script>

	<script id="template-donate" type="text/x-handlebars-template">{% verbatim %}

		<h2>Support {{profile.name}}</h2>

		<p class="alert alert--notice">100% of your donation will fund research on brain disease &amp; brain injuries.</p>

		<form class="form">
			<label class="label">
				<span class="label__text">Your Name</span>
				<span class="label__input">
					<input type="text" name="donor_name">
					(Leave blank to remain anonymous)
				</span>
			</label>
			<label class="label">
				<span class="label__text">Your Email</span>
				<span class="label__input">
					<input type="email" name="donor_email" required>
				</span>
			</label>
			<label class="label">
				<span class="label__text">Amount $</span>
				<span class="label__input">
					<input type="number" name="amount" step="any" required>
				</span>
			</label>
			<label class="label">
				<span class="label__text">Message</span>
				<span class="label__input">
					<textarea name="donor_comment"></textarea>
				</span>
			</label>
			<div class="form__buttons">
				<button type="submit" class="button">Continue</button>
				<button type="button" class="button button--secondary">Cancel</button>
			</div>
		</form>

	{% endverbatim %}</script>

	<script id="template-paypal" type="text/x-handlebars-template">{% verbatim %}
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="item_number" value="{{donation_id}}">
			<input type="hidden" name="cmd" value="_xclick">
			<input type="hidden" name="no_note" value="1">
			<input type="hidden" name="business" value="admin@sydneyzombiewalk.com">
			<input type="hidden" name="currency_code" value="AUD">
			<input type="hidden" name="notify_url" value="{{apiBase}}/fundraising/paypal">
			<input type="hidden" name="return" value="{{href}}">
			<input type="hidden" name="amount" value="{{amount}}">
			<input type="hidden" name="item_name" value="Donation to {{profile.name}} on SydneyZombieWalk.com">
		</form>
	{% endverbatim %}</script>
{% endblock %}
