.alert {
	@mixin alert($background, $border: null) {
		@if not $border {
			$border: darken($background, 40);
		}

		background-color: $background;
		border-color: $border;
	}

	border: 1px solid black;
	border-radius: 5px;
	padding: 0.8em 1em;

	&.alert--notice {
		@include alert(#cdf);
	}

	&.alert--warning {
		@include alert(#eeb);
	}

	&.alert--error {
		@include alert(#fcc);
	}

	>:first-child {
		margin-top: 0;
	}

	>:last-child {
		margin-bottom: 0;
	}
}