.button {
	@include font-header();

	background-color: $color-primary;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: $font-size-large;
	line-height: 1.4;
	margin-bottom: 0.25em;
	padding: 0.25em 0.5em;
	text-decoration: none;

	transition: background-color $transition-short;

	&[disabled] {
		background: gray;
		cursor: not-allowed;
	}

	&:not([disabled]):hover {
		background-color: darken($color-primary, 10);
		color: white;
	}

	&:focus, &:active {
		outline: none;
	}

	&.button--secondary {
		$bg: #ccc;
		background-color: $bg;
		color: black;

		&:hover {
			background-color: darken($bg, 10);
			color: black;
		}
	}

	&.button--link {
		background: none;
		border: 0;
		color: $color-link;
		display: inline;
		font-family: inherit;
		font-size: inherit;
		margin: 0;
		padding: 0;
		text-transform: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&.button--facebook {
		$border-color: #3b5998;
		$top-color: lighten($border-color, 13);
		$bottom-color: $border-color;
		$logo-size: 50px;

		background: linear-gradient($top-color, $bottom-color);
		background-color: mix($top-color, $bottom-color);
		border: 1px solid $border-color;
		font-family: inherit;
		font-size: inherit;
		font-weight: bold;
		padding: 0.8em 1.4em 0.8em #{$logo-size + 16px};
		position: relative;
		text-transform: none;
		text-shadow: 0 0 5px black;

		&::before {
			background: url('//res.cloudinary.com/szw/image/upload/c_scale,f_auto,h_26,q_80/structure/facebook.png');
			background-position: center center;
			background-repeat: no-repeat;
			border-right: 1px solid darken($border-color, 10);
			content: '';
			display: inline-block;
			width: $logo-size;

			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
		}

		&:hover {
			background: $bottom-color;
		}
	}
}
