.content {
	$bg: white;
	background: $bg;
	margin: 0 auto;
	max-width: $page-width;
	padding: $gutter;

	@include breakpoint(medium) {
		padding-top: $gutter + 10px;
	}

	.splash ~ & {
		margin-top: -$splash-bottom-height;
		padding-top: 2.5em;
		position: relative;
		z-index: 1;

		$circle-radius-outer: 185px;
		$circle-radius-inner: $circle-radius-outer - 1px;
		$transparent-height: $splash-bottom-height - 6px;

		@mixin content-bg($bg, $circle-radius-outer, $cirle-radius-inner, $transparent-height) {
			background: radial-gradient($circle-radius-outer at 55% 0, rgba($bg, 0) $circle-radius-inner, rgba($bg, 1)),
					linear-gradient(rgba($bg, 0) $transparent-height, rgba($bg, 1) $transparent-height);
		}

		@include content-bg($bg, $circle-radius-outer, $circle-radius-inner, $transparent-height);

		@include breakpoint(large) {
			margin-top: -$splash-bottom-height / $page-width * 100%;

			$circle-radius-outer: $circle-radius-outer / $page-width * 100vw;
			$circle-radius-inner: $circle-radius-inner / $page-width * 100vw;
			$transparent-height: ($transparent-height - 4px) / $page-width * 100vw;

			@include content-bg($bg, $circle-radius-outer, $circle-radius-inner, $transparent-height);
		}

		@include breakpoint(medium) {
			padding-top: $gutter;
		}
	}

	>:first-child, >noscript:first-child + * {
		margin-top: 0;
	}

	>:last-child {
		margin-bottom: 0;
	}
}
