.footer {
	color: #bbb;
	text-align: center;
	padding: 2em;

	@media print {
		display: none;
	}

	.footer__links {
		margin-bottom: 1.6em;

		a {
			margin: 0 1em;
		}
	}

	a {
		text-decoration: none;

		&:hover {
			color: lighten($color-link, 25);
			text-decoration: underline;
		}
	}
}