.fundraising-login {
	padding-top: 1em;
	position: relative;

	@include busy('fundraising-login--is-busy');

	&.fundraising-login--nofacebook .fundraising-login__nofacebook {
		display: block;
	}

	.fundraising-login__nofacebook {
		display: none;
		margin-top: 2em;
	}
}