.fundraising-top {
	@include clearfix;

	position: relative;

	@include busy('fundraising-top--is-busy');

	&.fundraising-top--is-busy {
		height: 223px;
	}

	&:not(.fundraising-top--is-busy) {
		margin: 0 #{-$gutter/2};
	}

	.fundraising-top__message {
		padding: 0 $gutter/2;
	}

	.fundraising-top__profile {
		display: block;
		float: left;
		margin-bottom: $gutter;
		overflow: hidden;
		padding: 0 $gutter/2;
		position: relative;
		width: 50%;

		@include breakpoint(small-up) {
			width: 25%;
		}

		.fundraising-top__profile__inner {
			background-color: $color-gray-mid;
			background-size: cover;
			padding-top: 100%;
		}

		.fundraising-top__profile__info {
			background: black;
			background: linear-gradient(rgba(black, 0), rgba(black, 0.3), rgba(black, 0.5));
			color: white;
			padding: $gutter $gutter/2 $gutter/2;
			text-align: center;

			position: absolute;
			right: $gutter/2;
			bottom: 0;
			left: $gutter/2;
		}

		.fundraising-top__profile__name {
			margin: 0;
			text-shadow: 1px 1px 1px black;
		}

		.fundraising-top__profile__amount {
			margin-top: 0.2em;
		}
	}
}
