.header {
	$padding: 32px;

	background-image: url('//res.cloudinary.com/szw/image/upload/q_80,f_auto/structure/header-content.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;

	color: white;
	padding: $padding;
	padding-top: $nav-height + $padding;
	position: relative;
	text-align: center;

	@media print {
		color: black;
	}

	@include breakpoint(medium) {
		background-size: cover;
		background-position: 70% 90%;
		height: 110px;
		padding: 0;
	}

	.header__logo {
		$height: 80px;
		$ratio: 245px / 662px;

		background-image: url('//res.cloudinary.com/szw/image/upload/structure/szw.png');
		background-repeat: no-repeat;
		background-size: contain;
		display: none;
		height: $height;
		width: $height / $ratio;
		text-indent: -9999px;

		position: absolute;
		top: 5px;
		left: 10px;

		@include breakpoint(medium) {
			display: block;
		}
	}

	.header__title {
		margin: 0;

		@include breakpoint(medium) {
			margin-bottom: -20px;

			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;

			.header__title__inner {
				background: black;
				padding: 0 15px;
			}
		}
	}
}
