.makeup-booking {
	@include busy('makeup-booking--busy');

	text-align: center;
	position: relative;

	[v-cloak] {
		display: none;
	}

	.makeup-booking__progress {
		counter-reset: makeup-booking;
		text-align: left;

		@include clearfix;
		list-style: none;
		margin: 0 0 4em;
		padding: 0;

		.makeup-booking__progress__item {
			$items: 3;
			$margin: 1%;

			border-bottom: 10px solid $color-gray-mid;
			font-size: $font-size-largish;
			font-weight: bold;
			margin: 0 $margin;
			padding: 0;
			position: relative;

			float: left;
			width: (100% - $margin * 2 * ($items - 1)) / $items;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&::before {
				counter-increment: makeup-booking;
				content: counter(makeup-booking) ". ";
				font-size: $font-size-large;
			}

			&.makeup-booking__progress__item--current,
			&.makeup-booking__progress__item--complete {
				border-bottom-color: $color-primary;

				&::before {
					color: $color-primary;
				}
			}
		}
	}

	.makeup-booking__table-wrap {
		overflow: auto;
	}

	.makeup-booking__table {
		$cell-height: 50px;
		$cell-padding: 5px;
		border-collapse: collapse;
		border: none;
		margin: 0 auto;

		td, th {
			margin: 0;
			padding: 0;
		}

		thead {
			th {
				border: 1px solid black;
				border-top: none;
				padding: 10px;

				&:first-child {
					border-left: 0;
				}
			}

			.makeup-booking__table__artist {
				@include font-header;
				font-size: $font-size-largish;
			}
		}

		tbody {
			th {
				height: $cell-height;
				text-align: right;
				padding-right: 10px;
				white-space: nowrap;

				position: relative;
				top: - $cell-height / 2;

				&::after {
					content: '';
					border-top: 1px solid black;
					width: 4px;

					position: absolute;
					top: 50%;
					right: -1px;
				}
			}

			td {
				border: 1px solid black;
				border-top: none;
				border-bottom: none;
				padding: $cell-padding;
				width: 130px;
			}
		}

		.makeup-booking__table__padding-row {
			th {
				visibility: hidden;
			}

			th, td {
				height: 1em;
			}
		}

		.makeup-booking__table__button {
			border-radius: 0;
			font: inherit;
			height: $cell-height - $cell-padding * 2;
			margin-bottom: 0;
			padding: 0;
			text-transform: none;
			width: 100%;
		}
	}
}
