.modal {
	background: black;
	background: rgba(black, 0.6);
	display: none;
	opacity: 0;

	transition: opacity $transition-short;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	z-index: 100;

	&.modal--transitioning {
		display: block;
	}

	&.modal--open {
		display: block;
		opacity: 1;
	}

	&.modal--small {
		.modal__inner {
			min-width: 450px;
		}
	}

	.modal__inner {
		background: white;
		max-height: 100vh;
		min-width: 550px;
		overflow: auto;
		padding: $gutter;

		transform: translate(-50%, -50%);

		position: absolute;
		top: 50%;
		left: 50%;

		@include breakpoint(small) {
			min-width: 0;
			width: 100%;
		}

		>:first-child {
			margin-top: 0;
		}

		>:last-child {
			margin-bottom: 0;
		}
	}
}

:root.is-modal-open {
	overflow: hidden;
}