.nav {
	background: rgba(black, 0.6);
	color: white;
	height: $nav-height;
	text-align: center;

	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;

	@media print {
		display: none;
	}

	a {
		@include font-header();

		color: white;
		display: inline-block;
		font-size: $font-size-large;
		line-height: $nav-height;
		padding: 0 0.75em;
		text-decoration: none;

		transition: background-color $transition-short;

		&:hover, &:active {
			background-color: rgba(#888, 0.5);
		}

		&.current {
			background-color: rgba($color-primary, 0.8);
		}

		@include breakpoint(large) {
			font-size: $font-size-largish;
		}
	}

	@include breakpoint(medium) {
		background: rgba(black, 0.8);
		height: auto;
		transform: translateY(-100%);

		position: absolute;

		.is-nav-open & {
			transform: translateY(0);
			transition: transform $transition-long;
		}

		a {
			display: block;
		}
	}
}

.nav-button {
	$size: $nav-height;
	background: none;
	border: none;
	cursor: pointer;
	display: none;
	height: $size;
	text-indent: -9999px;
	width: $size;

	position: absolute;
	top: 0;
	right: 0;

	z-index: 25;

	&:hover, &:focus, &:active {
		outline: none;
	}

	&::before, &::after {
		content: '';
		background: white;
		display: block;
		height: 2px;
		width: 40%;
		will-change: transform;

		position: absolute;
		top: calc(50% - 1px);
		left: 30%;

		transition: transform $transition-long;
	}

	&::before {
		transform: translateY(-5px) rotate(0);
	}

	&::after {
		transform: translateY(5px) rotate(0);
	}

	.is-nav-open & {
		&::before {
			transform: translateY(0) rotate(135deg);
		}
		&::after {
			transform: translateY(0) rotate(225deg);
		}
	}

	@include breakpoint(medium) {
		display: block;
	}
}
