.profile {
	@include clearfix;

	position: relative;
	@include busy('profile--is-busy');

	$target-width: 33.33%;
	$target-width-medium: 33.33%;

	/* Page Layout */
	.profile__info, .profile__donations {
		float: left;
		width: 100% - $target-width;
		width: calc(#{100% - $target-width} - #{$gutter});


		@include breakpoint(medium) {
			width: calc(#{100% - $target-width-medium} - #{$gutter});
		}
	}

	.profile__target {
		background: $color-gray-light;
		float: right;
		text-align: center;
		padding: $gutter;
		width: $target-width;

		@include breakpoint(medium) {
			width: $target-width-medium;
		}

		p {
			margin: 0;
		}

		hr {
			border: none;
			border-top: 1px solid black;
			height: 0;
			margin: 0.3em 3em 1em;
		}

		.profile__target__text {
			@include font-header();

			display: block;
			font-size: $font-size-largish;
			text-transform: none;
		}

		.profile__target__number {
			@include font-header();

			display: block;
			font-size: $font-size-largest;
		}
	}

	.profile__thermometer {
		$height: 448px;
		$width: 168px;

		background: white;
		margin: 0 auto 2em;
		height: $height;
		max-width: $width;

		position: relative;

		@include breakpoint(medium) {
			$scale: 0.75;

			height: $height * $scale;
			width: $width * $scale;
		}

		@include breakpoint(small) {
			display: none;
		}

		.profile__thermometer__graphic, .profile__thermometer__bar {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		.profile__thermometer__graphic {
			background: url('//res.cloudinary.com/szw/image/upload/q_70,f_auto/structure/fundraising/thermometer.png');
			background-size: 100% 100%;
		}

		.profile__thermometer__bar {
			background-color: $color-primary;
			background-image: url('//res.cloudinary.com/szw/image/upload/q_70,f_auto/structure/fundraising/thermometer-edge.png');
			background-repeat: repeat-x;

			top: auto;
		}
	}

	@include breakpoint(small) {
		.profile__info, .profile__donations, .profile__target {
			float: none;
			width: auto;
		}
	}

	/* Style */
	.profile__info {
		clear: both;

		h2 {
			margin-top: 0;
		}
	}

	.profile__name {
		margin-top: 0;
		padding-top: 5px;
	}

	.profile__photo {
		border-radius: 50%;
		float: left;
		margin-right: $gutter;
		height: 50px;
		width: 50px;
	}

	.profile__cta-top {
		float: right;

		@include breakpoint(medium) {
			float: none;
			text-align: center;
			margin-bottom: $gutter;
		}
	}

	.profile__tagline {
		font-size: $font-size-largish;
		margin-top: 0;
	}

	.profile__blurb {
		white-space: pre-wrap;
	}

	.profile__donation {
		border-top: 1px solid $color-gray-mid;
		padding: $gutter;

		.profile__donation__time {
			color: $color-gray-dark;
			float: right;
		}

		.profile__donation__name {
			font-weight: bold;
		}

		.profile__donation__comment {
			border: 1px dashed $color-gray-mid-light;
			font-family: monospace;
			font-size: $font-size-largish;
			margin: 0.6em 0;
			padding: 0.6em 0.8em;
		}
	}

	.profile__cta-bottom {
		margin-top: $gutter;
		text-align: center;
	}
}
