.row {
	@include clearfix;

	$widths: 2 3 4 5 6;

	margin: -$gutter/2;

	&.row--with-border {
		.row__item:not(:last-child) {
			border-right: 1px solid $color-gray-mid;

			@include breakpoint(small) {
				border-right: none;
			}
		}
	}

	.row + & {
		margin-top: 3em;

		@include breakpoint(small) {
			margin-top: 1em;
		}
	}

	.row__item {
		float: left;
		padding: $gutter/2;

		>:first-child {
			margin-top: 0;
		}

		>:last-child {
			margin-bottom: 0;
		}
	}

	@include breakpoint(small) {
		&.row--mobile .row__item {
			width: 50%;
		}

		&:not(.row--mobile) .row__item {
			float: none;
			width: auto !important;

			+ .row__item {
				margin-top: 1em;
			}
		}
	}


	@each $width in $widths {
		&.row--of-#{$width} {
			@include breakpoint(small-up) {
				$col-width: 100% / $width;
				.row__item {
					width: $col-width;
				}
				.row__item.row__item--shift-left {
					position: relative;
					left: -$col-width;
				}
				.row__item.row__item--shift-right {
					position: relative;
					left: $col-width;
				}
				@for $cols from 2 through $width {
					.row__item.row__item--#{$cols}-cols {
						width: $col-width * $cols;
					}
				}
			}
		}
	}
}