.rules {
	counter-reset: rules;
	margin-bottom: 1.6em;

	dt {
		@include font-header;
		background-color: black;
		color: white;
		counter-increment: rules;
		display: inline-block;
		font-size: $font-size-largish;
		margin-bottom: 0.4em;
		padding: 0.2em 0.4em;

		&::before {
			content: counter(rules) '. ';
		}
	}

	* ~ dt {
		margin-top: 1em;
	}
}