.splash {
	$splash-bottom-position: 100% - ($splash-bottom-height / $splash-height * 100%);
	background-image: url('//res.cloudinary.com/szw/image/upload/q_60,f_auto/v4/structure/header.jpg');
	// This version adds a white area down the bottom to compensate for masking in _content.scss
	background-image: url('//res.cloudinary.com/szw/image/upload/q_60,f_auto/v4/structure/header.jpg'),
					  linear-gradient(transparent $splash-bottom-position, white $splash-bottom-position);

	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto, $page-width 100%;
	height: $splash-height;
	padding-top: 0;
	position: relative;

	@include breakpoint(large) {
		background-size: cover;
		height: 0;
		padding-top: $splash-height / $page-width * 100%;
	}

	.splash__inner {
		margin: 0 auto;
		max-width: $page-width;
		height: 100% - ($splash-bottom-height / $splash-height * 100%);
		padding-top: $nav-height;
		width: 100%;

		position: relative;

		@include breakpoint(large) {
			height: auto;

			position: absolute;
			top: 0;
			bottom: $splash-bottom-height / $splash-height * 100%;
			left: 0;
		}

		@include breakpoint(medium) {
			padding-top: 0;
		}
	}

	.splash__logo {
		$height: 245px;
		$width: 662px;

		background: url('//res.cloudinary.com/szw/image/upload/structure/szw.png');
		background-size: contain;
		font-size: 1em;
		height: $height;
		margin: 0.5em 0 0 1em;
		text-indent: -9999px;
		width: $width;

		@include breakpoint(large) {
			height: $height / $page-width * 100vw;
			width: $width / $page-width * 100vw;
		}
	}

	.splash__info {
		margin-bottom: 1.4em;

		position: absolute;
		left: 0;
		bottom: 0;

		@include breakpoint(large) {
			left: 1em;
		}

		.splash__info__item {
			@include font-header();

			color: white;
			display: block;
			font-size: $font-size-large;
			line-height: 2.3em;

			@include breakpoint(large) {
				font-size: $font-size-largish;
			}

			@include breakpoint(medium) {
				display: none;
			}

			.splash__info__item__inner {
				background: black;
				display: inline;
				padding: 0.4em 0.6em;
			}
		}

		.button {
			margin-top: 0.4em;
		}
	}

	.splash__donate {
		position: absolute;
		top: $nav-height + $gutter;
		right: $gutter;

		@include breakpoint(medium) {
			display: none;
		}

		.splash__donate__button {
			background: url('//res.cloudinary.com/szw/image/upload/q_80,f_auto/structure/donate.png');
			border: none;
			cursor: pointer;
			height: 119px;
			text-indent: -9999px;
			width: 133px;

			transition: transform $transition-short;

			&:hover {
				transform: rotate(-10deg);
			}

			&:focus {
				outline: none;
			}
		}
	}
}
