.timetable {
	border: 1px solid $color-gray-light;
	border-collapse: collapse;

	caption {
		background: $color-gray-light;
		font-weight: bold;
		padding: 0.6em;
	}

	tr:nth-child(even) {
		background: #f6f6f6;
	}

	th, td {
		padding: 0.6em 0.4em;
	}

	th {
		font-weight: normal;
		min-width: 5em;
		text-align: right;
	}

	td {

	}
}